body {

    line-height: 1;
    font-size: 14pt;
    margin: 20px 20px;
    max-width: 800px;
    color: #000000;
}

a:hover {
    text-decoration: none;
    color: #ee0000;
}

a {
    text-decoration: none;
    color: #000000;
}

pre {
    margin: 10px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: block;
    font-family: monospace;
    line-height: 100%;
}

pre[type=content] {
    line-height: 150%;
    /* margin-top: 0; */
}
